[program:shire.web]
directory={{ ansistrano_deploy_to }}/{{ ansistrano_current_dir }}
process_name=%(program_name)s
command={{ ansistrano_deploy_to }}/{{ ansistrano_current_dir }}/venv3.6/bin/gunicorn -w {{ shire_supervisor_web_process_num }} --access-logfile - --error-logfile - -b 0.0.0.0:{{ shire_port }} shire.app:app
user={{ shire_process_user }}
redirect_stderr=false
stdout_logfile=/var/log/supervisor/shire_web-stdout.log
stderr_logfile=/var/log/supervisor/shire_web-stderr.log
stdout_logfile_maxbytes=10MB
stdout_logfile_backups=5
stdout_capture_maxbytes=10MB
stderr_logfile_maxbytes=10MB
stderr_logfile_backups=5
stderr_capture_maxbytes=10MB
autostart=true
autorestart=true
startsecs=2
startretries=3
