{% extends "base.html" %}

{% block title %}Welcome to {{ config.SITE_NAME }}{% endblock %}

{% block content %}
<div class="pure-g">
  <div class="pure-u-2-3">
    <h1>Welcome to {{ config.SITE_NAME }}!</h1>
    <p>
      {{ config.SITE_NAME }} lets you mark fun things you love.
    </p>
    <p>
      You can mark the books you have read, the movies you have watched, the albums you have listened,
      the games you have played, the places you have visited, etc.
    </p>
    <p>
    It has no ads. It never adds third-party tracking. It doesn't store your search history.
    It has as few images as possible to avoid you from being tracked by other websites. It secures your connections via HTTPS to avoid you from being tampered by malicious parties.
    </p>
    <p>
      You pay ${{ config.ANNUAL_FEE }} per year to get rid of data being harvested by big companies.
    </p>
    <p>
      You can use the site for free the next year if you invite a user.
    </p>
    {% if not session.get('uid') %}
    <div>
      <a class="pure-button pure-button-primary" href="{{ url_for('signup_page') }}">
          Sign up for ${{ config.ANNUAL_FEE }} / year
      </a>
    </div>
    {% endif %}
    <p>
    The site is <a href="{{ config.GITHUB_URL }}">open/libre software</a> under GNU Affero GPL license.
    {% if config.BLOG_URL %}
      Please read our <a href="{{ config.BLOG_URL }}">blog</a> if you want to know more.
    {% endif %}
    </p>
  </div>

  <div class="pure-u-1-3">
    {% if not session.get('uid') %}
    <h3>Login</h3>
    <form method="post" action="/login/" id="login-form" class="pure-form pure-form-stacked">
      <input type="text" id="username" name="username" placeholder="username"/>
      <input type="password" id="password" name="password" placeholder="password" />
      <div><input type="submit" value="Login" class="pure-button"/></div>
    </form>

    <div id="login-error">
      <span class="pure-form-message">{{ error }}</span>
    </div>
    {% endif %}

  </div>
</div>
{% endblock %}
