{% extends "base.html" %}

{% block title %}Welcome to {{ config.SITE_NAME }}{% endblock %}

{% block content %}
<div class="pure-g">
  <div class="pure-u-2-3">
    <h1>Welcome to {{ config.SITE_NAME }}!</h1>
    <p>
      {{ config.SITE_NAME }} lets you mark fun things you love.
    </p>
    <p>
      You can mark the books you have read, the movies you have watched, the albums you have listened,
      the games you have played, the places you have visited, etc.
    </p>
    <p>
    It has no ads. It never adds third-party tracking. It doesn't store your search history.
    It has as few images as possible to avoid you from being tracked by other websites. It secures your connections via HTTPS to avoid you from being tampered by malicious parties.
    </p>
    <p>
      {% if current_user.is_anonymous and config.SIGNUP_ENABLED %}
      <a href="{{ url_for('user.register') }}">Sign up for free</a>.
      {% elif not config.SIGNUP_ENABLED %}
      The signup is currently unavailable.
      {% endif %}
    </p>
    <p>
    The site is open/libre software under GNU Affero GPL license.
    </p>
    <p>
     The site has now {{ users_total_count }} users in total.
    </p>
  </div>
</div>
{% endblock %}
