{% extends "base.html" %}
{% import "widget_signup.html" as widget_signup %}

{% block title %}Welcome to {{ config.SITE_NAME }}{% endblock %}

{% block content %}
<div class="pure-g">
  <div class="pure-u-2-3">
    <h1>Welcome to {{ config.SITE_NAME }}!</h1>
    <p>
      {{ config.SITE_NAME }} lets you mark fun things you love.
    </p>
    <p>
      You can mark the books you have read, the movies you have watched, the albums you have listened,
      the games you have played, the places you have visited, etc.
    </p>
    <p>
    It has no ads. It never adds third-party tracking. It doesn't store your search history.
    It has as few images as possible to avoid you from being tracked by other websites. It secures your connections via HTTPS to avoid you from being tampered by malicious parties.
    </p>
    <p>
      You pay ${{ config.ANNUAL_FEE }} per year to get rid of data being harvested by big companies. You can use the site for free the next year if you invite a user.
      {% if current_user.is_anonymous and config.SIGNUP_ENABLED %}
      <a href="{{ url_for('user.register') }}">Sign up for free</a>.
      {% endif %}
    </p>
    <p>
    The site is <a href="{{ config.GITHUB_URL }}">open/libre software</a> under GNU Affero GPL license.
    {% if config.BLOG_URL %}
      Please read our <a href="{{ config.BLOG_URL }}">blog</a> if you want to know more.
    {% endif %}
    </p>
  </div>
</div>
{% endblock %}
