{% extends "base.html" %}

{% block title %}Account{% endblock %}

{% block content %}
<h3>Account</h3>
<table>
  <tbody>
    <tr>
      <td>user:</td>
      <td>{{ current_user.username }}</td>
    </tr>
    <tr>
      <td>email:</td>
      <td>{{ current_user.email }}</td>
    </tr>
    <tr>
      <td>created:</td>
      <td>{{ current_user.time | from_now}}</td>
    </tr>
  </tbody>
</table>

<h3>Security</h3>
<div><a href="{{ url_for('user.changepass') }}">Change Password</a></div>

<h3>Privacy</h3>
<form class="pure-form pure-form-stacked" method="post">
  <fieldset>
    <label for="is_private">
      Convert to Private Account
      <input type="checkbox" name="is_private" id="is_private"
        {% if current_user.is_private %}checked="checked"{% endif %}>
    </label>

    <div>{{ error }}</div>

    <input type="submit" value="Update" class="pure-button pure-button-primary">
  </fieldset>
</form>
{% endblock %}
