{% extends "base.html" %}
{% import "widget_thing.html"  as wgtThing %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="pure-g">
  {# Left #}
  <div class="pure-u-3-4">
    <h3>{{ title }} </h3>

    {# Add a new thing? #}
    {% if is_me %}
    <div>
      <form method="post" action="/mark/" class="pure-form">
        <fieldset>
          <select name="category" class="pure-input-1-8">
            {% for cat in Category %}
            <option>{{ cat.name }}</option>
            {% endfor %}
          </select>
          <input name="title" class="pure-input-1-4" placeholder="title" autocomplete=off>
          <input name="tags" class="pure-input-1-4" placeholder="tags" autocomplete=off>
          <label for="shared">
            <input name="shared" type="checkbox" checked=checked> Shared
          </label>
          <button type="submit" class="pure-button pure-button-primary">
            Mark
          </button>
        </fieldset>
      </form>
      <div style="color: red;">
        {{ mark_error }}
      </div>
      <script>
      </script>
    </div>
    {% endif %}

    {% for thing in things if thing.is_visible_by(current_user) %}
    <div class="pure-u-1 thing">
      {{ wgtThing.render_thing(thing) }}
    </div>
    {% endfor %}

  </div>

  {# Right (Sidebar) #}
  <div class="pure-u-1-4">
    <h3>Tags</h3>
    <div>
      {% for tag in tags %}
      <span class="thing-tag">
        <a href="{{ url_for('all_tagged_things', tag=tag) }}">{{ tag }}</a>
      </span>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
