{% extends "base.html" %}

{% block title %}Terms of Service{% endblock %}

{% block content %}
<h3>Terms of Service</h3>
<p>Welcome to MarkSthFun!<p>
<p>
This page explains our terms of use.
When you use MarkSthFun, you're agreeing to all the rules on this page.
By using the site offered by marksth.fun (I, we, us, our), you're agreeing to these legally binding rules ("Terms"). You're also agreeing to our
<a href="{{ url_for('privacy') }}">privacy</a> policy.
The site may change these terms from time to time.
If you continue using the site after the terms changed, that means you accept the new terms.
</p>

<p>
You can brose certain amount of information and choose to remain anonymous. But to use the site fully, you'll need to register as a user.
</p>

<p>
When registered as a user, you agree to provide a working email address.
</p>

<p>
You have the right to create, delete, unshare your marks when the site is up, subject to reasonable constraints and bandwidth.
</p>

<p>
You can close your account at any time and export your data.
</p>

<p>
You have the right to make your account complete private. For a private account, regardless of sharing or unsharing, the marks are all private.
</p>

<p>
Your personal data will not be sold, or shared with/to third parties.
</p>

<p>
You data will be backed up regularly. Our blog will report the backup status and test regularly.
</p>

<p>
The significant changes / outages will be reported on our blog.
</p>

<p>
If, unfortunately, the site is no longer to run, you will get a half year window to download your data after the announcement.
</p>

<p>
Your requests are rate limited. Overly using the site will be temporarily banned for a while.
</p>

<p>
I reserve the right to privatize or cancel your account if you post spam content, malicious content, words harassing others, or those violating laws. Please be polite.
</p>

<p>
MarkSthFun is a free/libre open-source software licensed under GNU AGPL.
</p>

{% endblock %}
