{%- macro render_thing(thing) -%}
<div>
  <div class="thing-content">

    {% if thing.category == Category.book %}
    <span><i class="fas fa-book"></i></span>
    {% elif thing.category == Category.movie %}
    <span><i class="fas fa-film"></i></span>
    {% elif thing.category == Category.tvshow %}
    <span><i class="fas fa-tv"></i></span>
    {% elif thing.category == Category.album %}
    <span><i class="fas fa-music"></i></span>
    {% elif thing.category == Category.place %}
    <span><i class="fas fa-map-marker-alt"></i></span>
    {% elif thing.category == Category.game %}
    <span><i class="fas fa-gamepad"></i></span>
    {% elif thing.category == Category.event %}
    <span><i class="fas fa-glass-cheers"></i></span>
    {% elif thing.category == Category.paper %}
    <span><i class="fas fa-sticky-note"></i></span>
    {% elif thing.category == Category.concept %}
    <span><i class="fas fa-lightbulb"></i></span>
    {% elif thing.category == Category.software %}
    <span><i class="fas fa-code"></i></span>
    {% endif %}

    <span class="thing-username">
      <a href="{{ url_for('profile', username=thing.user.username) }}">{{ thing.user.username }}</a>
    </span>

    {% if thing.category == Category.book %}
      {% if thing.progress == Progress.todo %}
      wanted to read
      {% elif thing.progress == Progress.doing %}
      was reading
      {% elif thing.progress == Progress.done %}
      has read
      {% endif %}
    {% elif thing.category == Category.movie %}
      {% if thing.progress == Progress.todo %}
      wanted to watch
      {% elif thing.progress == Progress.doing %}
      was watching
      {% elif thing.progress == Progress.done %}
      has watched
      {% endif %}
    {% elif thing.category == Category.tvshow %}
      {% if thing.progress == Progress.todo %}
      wanted to watch
      {% elif thing.progress == Progress.doing %}
      was watching
      {% elif thing.progress == Progress.done %}
      has watched
      {% endif %}
    {% elif thing.category == Category.album %}
      {% if thing.progress == Progress.todo %}
      wanted to listen
      {% elif thing.progress == Progress.doing %}
      was listening
      {% elif thing.progress == Progress.done %}
      has listened
      {% endif %}
    {% elif thing.category == Category.place %}
      {% if thing.progress == Progress.todo %}
      wanted to visit
      {% elif thing.progress == Progress.doing %}
      was visiting
      {% elif thing.progress == Progress.done %}
      has visited
      {% endif %}
    {% elif thing.category == Category.game %}
      {% if thing.progress == Progress.todo %}
      wanted to play
      {% elif thing.progress == Progress.doing %}
      was playing
      {% elif thing.progress == Progress.done %}
      has played
      {% endif %}
    {% elif thing.category == Category.event %}
      {% if thing.progress == Progress.todo %}
      wanted to participate
      {% elif thing.progress == Progress.doing %}
      was participating
      {% elif thing.progress == Progress.done %}
      has participated
      {% endif %}
    {% elif thing.category == Category.paper %}
      {% if thing.progress == Progress.todo %}
      wanted to read
      {% elif thing.progress == Progress.doing %}
      was reading
      {% elif thing.progress == Progress.done %}
      has read
      {% endif %}
    {% elif thing.category == Category.concept %}
      {% if thing.progress == Progress.todo %}
      wanted to learn
      {% elif thing.progress == Progress.doing %}
      was learning
      {% elif thing.progress == Progress.done %}
      has learned
      {% endif %}
    {% elif thing.category == Category.software %}
      {% if thing.progress == Progress.todo %}
      wanted to use
      {% elif thing.progress == Progress.doing %}
      was using
      {% elif thing.progress == Progress.done %}
      has used
      {% endif %}
    {% endif %}

    <span>{{ thing.category.display_name }}</span>

    {% if not thing.shared %}
    <span><i class="fas fa-lock"></i></span>
    {% endif %}

    <span class="thing-title">
      <a href="{{ thing.reference }}">
        {{ thing.title }}
      </a>.
    </span>

    <span style="font-size: .8em;">tags: </span>
    {% for tag in thing.tags %}
    <span class="thing-tag">
      <a href="{{ url_for('tagged_things', username=thing.user.username, tag=tag) }}">
        {{ tag }}
      </a>
    </span>
    {% endfor %}
  </div>
  {% with note = thing.note %}
  {% if note and note.text and (note.shared or note.user_id == g.user.id) %}
  <div class="thing-note">
    <blockquote>{{ note.text }}</blockquote>
  </div>
  {% endif %}
  {% endwith %}
  <div class="thing-time">
    <a href="{{ url_for('thing_page', id=thing.id) }}">{{ thing.time | from_now }}</a>
  </div>
</div>
{%- endmacro %}
