{%- macro render_thing(thing, current_user) -%}
<div>
  <div class="thing-content">

    <span class="thing-username">
      <a href="{{ url_for('profile', username=thing.user.username) }}">@{{ thing.user.username }}</a>
    </span>

    <span>:&nbsp;&nbsp;</span>

    <span>
      <a href="{{ url_for('categorized_things', username=thing.user.username, category=thing.category.name) }}">
      {% if thing.category == Category.book %}
      <i class="fas fa-book"></i>
      {% elif thing.category == Category.movie %}
      <i class="fas fa-film"></i>
      {% elif thing.category == Category.tvshow %}
      <i class="fas fa-tv"></i>
      {% elif thing.category == Category.album %}
      <i class="fas fa-music"></i>
      {% elif thing.category == Category.place %}
      <i class="fas fa-map-marker-alt"></i>
      {% elif thing.category == Category.game %}
      <i class="fas fa-gamepad"></i>
      {% elif thing.category == Category.event %}
      <i class="fas fa-calendar-alt"></i>
      {% elif thing.category == Category.paper %}
      <i class="fas fa-sticky-note"></i>
      {% elif thing.category == Category.concept %}
      <i class="fas fa-lightbulb"></i>
      {% elif thing.category == Category.software %}
      <i class="fas fa-code"></i>
      {% endif %}
      </a>
    </span>

    <span class="thing-title">
      <a href="{{ thing.reference }}">
        {{ thing.title }}
      </a>
    </span>

    {% if not thing.shared %}
    <span>(<i class="fas fa-lock"></i>)</span>
    {% endif %}

  </div>
  {% with note = thing.note %}
  {% if note and note.text and (note.shared or note.user_id == current_user.id) %}
  <div class="thing-note">
    <blockquote>{{ note.html | safe}}</blockquote>
  </div>
  {% endif %}
  {% endwith %}
  <div class="thing-time">
    <a href="{{ url_for('thing_page', id=thing.id) }}">{{ thing.time | from_now }}</a>
    {% if current_user.id == thing.user_id %}
    <span class="thing-mgmt">
      |
      <a href="{{ url_for('update_thing_page', id=thing.id) }}">update</a>
      |
      <a href="{{ url_for('delete_thing_page', id=thing.id) }}">delete</a>
      <span id="thing-mgmt-error-{{ thing.id }}"></span>
    </span>
    {% endif %}
    <span style="font-size: .8em;">| tags: </span>
    {% for tag in thing.tags %}
    {% if not (thing.user != g.user and tag.startswith('.')) %}
    <span class="thing-tag">
      <a href="{{ url_for('tagged_things', username=thing.user.username, tag=tag) }}">
        {{ tag }}
      </a>
    </span>
    {% endif %}
    {% endfor %}
  </div>
</div>
{%- endmacro %}
